<footer>
    <ul class="menu">
        <li><a href="/" class="link"><strong>Home</strong></a></li>
        <li><a href="/add" class="link"><strong>Ajouter un article</strong></a></li>
        <li><a href="/forum" class="link"><strong>Forum</strong></a></li>
        <li><a href="/add" class="link"><strong>Liens utiles</strong></a></li>
        
    </ul>
    <script  src="/script.js"></script>
</footer>

</body>
</html>
