<%- include('header.ejs') %> 
<main>
    <ul>
        <li><a href="/logout" class="link">Logout</a> </li>
        <li><a href="/delete" class="link">Supprimer mon profil</a> </li>
    </ul>
    
</main>

<%- include('footer.ejs') %> 